<launch>

  <arg name="model" default="burger" doc="model type [burger, waffle, waffle_pi]"/>
  <include file="$(find obstacle_detection)/launch/slam_nav.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <node name="radar" pkg="obstacle_detection" type="radar.py">
  </node>

  <node name="controller" pkg="obstacle_detection" type="controller.py">
  </node>

  <node name="frontier_exploration" pkg="obstacle_detection" type="frontier_exploration.py">
  </node>


</launch>
